@mixin flex($position) {
    display: flex;
    justify-content: $position;
}

@mixin align-center {
    align-items: center;
}

@mixin background-page {
    background-color: #1a1b3a;
}

@mixin errorColor {
    color: #f23030;
}

@mixin sucessColor {
    color: #8fff94;    
}